nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1rem;
}

nav ul li a {
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  background-color: lightcoral;
  color: black;
  transition: background-color 500ms;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: coral;
}

#ll{
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin:0;
}
