<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    .topmain{
      
    }

    /* #bg{
        display: block;
        max-width: 100%;
        z-index: -9999;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */
  </style>
</head>

<body>
  <header><%- include('../partials/navbar'); %></header>
  <!-- <img src="media/homebg.jpg" id="bg"> -->
  <div class="topmain">

  </div>
</body>

</html>
